<div id="page-wrapper">
	<div class="container-fluid incident-config-container">
		<div class="row incident-config-row">

			<div class="col-sm-12">
        <div class="container">
          <div class="jumbotron" style="margin-top: 50px;">
              <h1 class="text-center">Meraki Frontend</h1>

              <br>
              <br>

              <div class="row">
                <p class="col-sm-4 text-left"><strong>Devices count:</strong></p>
                <p class="col-sm-8 text-left">{{devicesCount}}</p>
              </div>

              <hr>

              <div class="row">
                <p class="col-sm-4 text-left"><strong>Humidity:</strong></p>
                <p class="col-sm-8 text-left">{{humidity}}</p>
              </div>
              <div class="row">
                <p class="col-sm-4 text-left"><strong>Pressure:</strong></p>
                <p class="col-sm-8 text-left">{{pressure}}</p>
              </div>
              <div class="row">
                <p class="col-sm-4 text-left"><strong>Temerature:</strong></p>
                <p class="col-sm-8 text-left">{{temepratur}}</p>
              </div>
            </div>
          </div>
			</div>
		</div>

	</div>
</div> <!-- /#page-wrapper -->