html, body {
	height: 100%;
}

.no-margin-bottom {
	margin-bottom: 0;
}

nav {
	height: 3%;
}

.full-height {
	height: 96%;
}

#page-wrapper {
	overflow: auto;
	min-height: 100%;
}

.btn-design {
	border-width: 1px 1px 3px;
	-moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	border-style: solid;
}
